@import "./style.css";

html {
	background: var(--color-foreground-variant);
}

body {
	--pad: 50px;

	width: calc(100% - var(--pad) * 2);
	height: calc(100% - var(--pad) * 2);

	margin: calc(var(--pad) / 2);
	border: none;
	border-radius: 50px;
	padding: calc(var(--pad) / 2);

	overflow-y: hidden;

	background: var(--color-background);

	display: grid;
	gap: 15px;
	grid-template-rows: 40px 25px auto;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		"title options"
		"search search"
		"pages pages";
}

body > div {
	width: 100%;
	height: 100%;
}

#config {
	display: block;
	width: 30px;
	height: 30px;

	border-radius: 12px;
	padding: 2px;

	position: absolute;
	top: 3px;
	right: 3px;

	font-size: 30px;
	line-height: 30px;

	user-select: none;
}

#config:hover {
	background: var(--color-primary);
}

#title {
	grid-area: title;

	cursor: pointer;

	margin: 0px 5px;
	border-radius: 12px;
	padding: 5px;

	font-size: 28px;

	word-wrap: normal;
	overflow: hidden;
	text-overflow: ellipsis;

	text-align: center;
}

#title:hover {
	background: var(--color-foreground-variant)
}

#options {
	grid-area: options;
	
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
}

#options > * {
	margin: 0 5px 0 5px;
}

#searchbar {
	grid-area: search;
	
	height: 30px;
	line-height: 30px;
	font-size: 20px;

	border: none;
	border-radius: 15px;
	padding: 0px 10px;
	outline: none;

	color: var(--color-text);
	background: var(--color-foreground);
	
	resize: none;
	white-space: nowrap;
	overflow: hidden;
}

#pages {
	grid-area: pages;

	overflow-y: auto;
	overflow-x: hidden;
}

.command-button {
	width: 30px;
	height: 30px;

	font-size: 25px;

	outline: none;
	border: none;
	border-radius: 12px;
	
	cursor: pointer;
	user-select: none;

	color: var(--color-text);
	background: var(--color-foreground);
}

.command-button:hover {
	background: var(--color-foreground-variant);
}

.page {
	white-space: nowrap;

	margin: 0 10px 0 0;
	border-radius: 10px;
	padding: 10px 5px;

	font-size: 18px;

	display: grid;
	gap: 5px;
	grid-template-columns: 20px 1fr;
	grid-template-areas: "button text";
}

.page > button {
	grid-area: button;

	height: 15px;
	width: 15px;
	border-radius: 30px;

	place-self: center;

	cursor: pointer;
	outline: none;
	border: none;

	background: var(--color-foreground-variant);
}

.page > button:hover {
	background: var(--color-primary);
}

.page > div {
	grid-area: text;

	justify-self: start;
	align-self: center;

	width: 100%;

	white-space: nowrap;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
}

.dragged {
	background: var(--color-accent);
}