body {
	overflow-y: hidden;
	background-color: whitesmoke;
}

iframe {
	display: block;

	background-color: white;
	border: 1px solid;
	border-color: gainsboro;

	padding: 10px;

	resize: both;
	overflow: hidden;
}

#searchbar {
	font-size: 20px;
	color: rgb(20, 20, 20);

	height: 24px;
	width: 55vw;

	resize: none;
	white-space: nowrap;
	overflow-x: hidden;
}

#viewer {
	user-select: none;
}

#dropdown {
	-webkit-appearance: none;
	color: black;
	background-color: snow;

	font-size: 24px;
	white-space: nowrap;
	outline: none;

	border: 0px;
	border-style: ridge;	
	border-radius: 12px;
	text-indent: 6px;
}

.dragSource {
	border: 2px solid lightblue;
}

.dragTarget {
	border: 1px solid silver;
}

.page {
	padding: 0px;
	white-space: nowrap;
}

.pageSpacer {
	display: block;
	margin: 20px 0px 10px;
}

.pageSpan {
	font-size: 18px;
	color: darkslategray;
	outline: none;
	text-decoration: none;
}

span > a {
	margin-left: 0.5em;
	font-size: 14px;
	color: transparent;
	text-decoration: none;
}

.searchResult {
	color: blue !important;
}

span:hover > a {
	color: blue;
}

span > a:hover {
	color: blue;
}

.pageButton {
	/*Position*/
	height: 15px;
	width: 15px;
	margin-right: 8px;
	border-radius: 30px;

	/*Appearance*/
	cursor: pointer;
	outline: none;
	border: none;

	/*Color*/
	background-color: lightgray;
}

.pageButton:hover {
	background-color: dimgray;
}

.commandButton {
	margin-right: 8px;
	font-size: 25px;

	outline: none;
	border: none;
	border-radius: 12px;

	cursor: pointer;
	color: black;
	background-color: lightgray;
}

.commandButton:hover {
	background-color: gray;
	color: white;
}

.navButton {
	height: 30px;
	width: 30px;
	margin: auto 5px;

	user-select: none;
	cursor: default;

	font-size: 20px;
	text-align: center;
	vertical-align: middle;

	border: 1px solid transparent;
	border-radius: 50%;
}

.navButton:hover {
	color: rgb(228, 228, 228);
	transition: 0.1s ease-in;
}

.navButtonRefresh, .navButtonFullscreen, .navButtonDelete {
	margin-left: 25px;
}

.grid {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 150px auto;
	grid-template-rows: 50px 50px;
	grid-template-areas: ". name"
						 "commands search"
						 ". pages";

	background-color: white;
	margin: 30px;
	padding: 15px;
	border-radius: 50px;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#gc1 {
	grid-area: name;
	align-self: end;
	justify-self: start;
}

#gc2 {
	grid-area: search;
	justify-self: start;
	align-self: center;
}

#gc3 {
	grid-area: commands;
	justify-self: center;
}

#gc4 {
	grid-area: pages;

	direction: rtl;
	overflow-y: auto;
	overflow-x: hidden;
}

#gc4::-webkit-scrollbar {
	width: 10px;
}

#gc4::-webkit-scrollbar-track {
	background: gainsboro;
}

#gc4::-webkit-scrollbar-thumb {
	background: silver;
}

#gc4::-webkit-scrollbar-thumb:hover {
	background: darkgray;
}

#gc4 > * {
	direction: ltr;
	overflow-x: auto;
	
	margin: auto 8px;
}

#gc4 > *::-webkit-scrollbar {
	height: 10px;
}

#gc4 > *::-webkit-scrollbar-track {
	background: gainsboro;
}

#gc4 > *::-webkit-scrollbar-thumb {
	background: silver;
}

#gc4 > *::-webkit-scrollbar-thumb:hover {
	background: darkgray;
}