@import "./style.css";

body {
	min-width: 150px;
	max-width: 150px;

	min-height: 100px;

	background: var(--color-background);
}

hr {
	display: block;

	margin: 10px 0px 0px 0px;
	border-top: 1px solid var(--color-text);
}

details > summary {
	max-width: 128px;
	font-size: 16px;

	border-radius: 15px;
	padding: 0px 2px;
	
	outline: none;
	user-select: none;

	word-wrap: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}

details > summary::-webkit-details-marker {
	display: none;
}

details[open] > summary {
	background: var(--color-foreground);
}

details > button {
	display: block;

	margin-left: 20px;
	border: none;
	padding-top: 12px;

	background: none;	
	color: var(--color-text);	

	cursor: pointer;
	user-select: none;
	outline: none;

	font: inherit;
	font-size: 14px;
	text-align: left;
	word-wrap: inherit;
}

#title {
	display: block;

	text-align: center;
	user-select: none;

	font-size: 18px;
}

#dividers > * {
	display: block;
	padding-top: 12px;
}

#create {
	/*Text*/
	font: inherit;
	text-align: center;
	font-size: 24px;
	font-family: "Courier New", Courier, monospace;

	/*Position*/
	position: absolute;
	left: 80%;

	/*Appearance*/
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 20%;

	/*Color*/
	background: none;
	color: var(--color-text);
	background-color: transparent;
	filter: opacity(20%);
}

#create:hover {
	color: var(--color);
	background: var(--color-foreground-variant);
	filter: opacity(40%);
}

.interact {
	/*Position*/
	height: 12px;
	position: absolute;
	left: 85%;
	margin-top: 4px;

	/*Appearance*/
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 100%;

	/*Color*/
	background: var(--color-text);
	filter: opacity(10%);
}

.interact:hover {
	background: var(--color-text);
	filter: opacity(20%);
}

.dragged {
	color: var(--color-primary);
}

details > summary > text, details > button {
	filter: opacity(70%);
}

details > summary > text:hover, details[open] > summary > text, details > button:hover {
	filter: none;
}

::-webkit-scrollbar {
	width: 10px;
}