#dropdown {
	-webkit-appearance: none;

	color: black;
	font-size: 24px;
	white-space: nowrap;

	border: 0px;
	border-style: ridge;
	outline: none;
	background-color: snow;
}

#searchbar {
	font-size: 20px;
	color: rgb(20, 20, 20);

	height: 24px;
	width: 200%;

	resize: none;
	white-space: nowrap;
	overflow-x: hidden;
}

.dragSource {
	border: 2px solid lightblue;
}

.dragTarget {
	border: 1px solid silver;
}

.page {
	padding: 0px;
	white-space: nowrap;
}

.pageSpacer {
	display: block;
	height: 20px;
	width: 100%;
}

.pageSpan {
	font-size: 18px;
	color: darkslategray;
	outline: none;
	text-decoration: none;
}

span > a {
	margin-left: 0.5em;
	font-size: 14px;
	color: transparent;
}

.searchResult {
	color: blue !important;
}

span:hover > a {
	color: blue;
}

span > a:hover {
	color: blue;
}

.pageButton {
	/*Position*/
	height: 15px;
	width: 15px;
	margin-right: 8px;
	border-radius: 15%;

	/*Appearance*/
	cursor: pointer;
	outline: none;
	border: none;

	/*Color*/
	background-color: lightgray;
}

.pageButton:hover {
	background-color: dimgray;
}

.commandButton {
	cursor: pointer;
	background-color: lightgray;
	outline: none;
	border: none;
	border-radius: 12px;
	color: black;
	font-size: 15px;
	margin-top: 10px;
}

.commandButton:hover {
	background-color: gray;
	color: white;
}

.grid {
	display: grid;
	grid-gap: 25px;
	padding-left: 10px;
	grid-template-columns: 150px auto;
	grid-template-rows: auto 50px;
	grid-template-areas: "name name"
						 ". search"
						 "commands pages";

}

#gc1 {
	grid-area: name;
	align-self: end;
	justify-self: start;
}

#gc2 {
	grid-area: search;
	justify-self: start;
	align-self: end;
}

#gc3 {
	grid-area: commands;
	justify-self: center;
}

#gc4 {
	grid-area: pages;
}
