body {
	min-width: 150px;
}

b {
	font-size: 18px;
	color: black;
	text-align: center;
	display: block;
}

hr {
	border-top: 1px solid black;
}

details {
	margin-top: 12px;
}

details > summary {
	font-size: 16px;
	color: darkslategray;
	outline: none;
}

details[open] summary {
	background-color: rgb(250, 250, 250);
	color: gray;
}

details > summary::-webkit-details-marker {
	display: none;
}

details > p {
	margin-left: 20px;
	font-size: 14px;
	color: gray;
}